<div class="app mat-typography" #root dir="ltr"
     [ngClass]="{'app-dark': dark, 'boxed': boxed, 'collapsed-sidebar': collapseSidebar}">
  <mat-toolbar class="main-header" color="primary">
    <button (click)="sidemenu.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="branding">
      <div class="logo"></div>
      <div class="title">URCF-UI</div>
    </div>
    <div class="search-bar" fxFlex>
      <form class="search-form" fxShow="false" fxShow.gt-xs>
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search" autofocus="true"/>
      </form>
    </div>
    <button appToggleFullscreen mat-icon-button>
      <mat-icon>fullscreen</mat-icon>
    </button>
    <button [mat-menu-trigger-for]="user" mat-icon-button class="ml-xs">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #user x-position="before">
      <button mat-menu-item *ngIf="!authService.checkLogin()" [routerLink]="['/session/signin']">
        <mat-icon>exit_to_app</mat-icon>
        Sign In
      </button>
      <button mat-menu-item *ngIf="authService.checkLogin()" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Sign Out
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="app-inner">
    <mat-sidenav #sidemenu class="sidebar-panel" id="sidebar-panel" [mode]="isOver() ? 'over' : 'side'" perfectScrollbar
                 [opened]="!isOver()" (mouseover)="menuMouseOver()" (mouseout)="menuMouseOut()">
      <app-navigation layout="vertical"></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content perfectScrollbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
